<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cloud.db.mapper.sb.xgm.IHdxxTqMapper">

    <resultMap id="resultMap" type="com.example.cloud.db.po.sb.xgm.ZsxmDmslPO">
        <result column="rdpzuuid" property="rdpzuuid" jdbcType="VARCHAR"  />
        <result column="zsxm_dm" property="zsxmDm" jdbcType="VARCHAR"  />
        <result column="zsxmmc" property="zsxmmc" jdbcType="VARCHAR"  />
        <result column="zspm_dm" property="zspmDm" jdbcType="VARCHAR"  />
        <result column="zspmmc" property="zspmmc" jdbcType="VARCHAR"  />
        <result column="sl" property="sl" jdbcType="VARCHAR"  />
        <result column="lx" property="lx" jdbcType="VARCHAR"  />
    </resultMap>

    <select id="queryFjsZspms" resultMap="resultMap">
      select distinct a.rdpzuuid rdpzuuid, a.zsxm_dm ,d.zsxmmc ,
				a.zspm_dm,
				c.zspmmc,
				a.slhdwse sl,
				b.lx lx
				from rd_sfzrdxxb a, (select    MAX(B.RDPZUUID) rdpzuuid,
				case  when substr(b.zspm_dm, 1, 6) in ('101016', '101017') then
				'2'
				else
				'1'
				end lx
				from  rd_sfzrdxxb b
				where b.djxh = #{djxh}
				and b.zsxm_dm = #{zsxmDm}
				AND B.ZSDLFS_DM = '0'
				AND B.RDYXQQ &lt;= to_date(to_char(sysdate,'yyyy/mm/dd'),'YYYY/MM/DD')
				AND B.RDYXQZ >= to_date(to_char(sysdate,'yyyy/mm/dd'),'YYYY/MM/DD')
				AND B.RDYXQQ &lt; b.RDYXQZ
				and B.yxbz = 'Y'
				and case when b.zspm_dm in ('101020106','101020109')  then '1'
				when b.zspm_dm not in ('101020106','101020109') and substr(b.zspm_dm,1,7) = '1010201'  then '2'
				when substr(b.zspm_dm,1,7) = '1010202'  then '3'
				when substr(b.zspm_dm,1,7) = '1010206'  then '4'
				when substr(b.zspm_dm,1,7) in ('1010209','1010210')  then '5'
				when substr(b.zspm_dm,1,7) = '1010217'  then '6'
				when substr(b.zspm_dm,1,7) = '1010216'  then '7'
				else '8' end = '8'
				group by case  when substr(b.zspm_dm, 1, 6) in ('101016', '101017') then
				'2'
				else
				'1'
				end) b,HX_DM_QG_DM_GY_ZSPM c,HX_DM_QG_DM_GY_ZSXM d
				where a.rdzsuuid = b.rdpzuuid
				and a.zspm_dm = c.zspm_dm
				and a.zsxm_dm = d.zsxm_dm
				and a.djxh = #{djxh}
				and a.zsxm_dm in ('10109', '30203', '30216')
				AND A.ZSDLFS_DM = '0'
				AND A.RDYXQQ &lt;= to_date(to_char(sysdate,'yyyy/mm/dd'),'YYYY/MM/DD')
				AND A.RDYXQZ >= to_date(to_char(sysdate,'yyyy/mm/dd'),'YYYY/MM/DD')
				AND A.RDYXQQ &lt; a.RDYXQZ
				AND a.yxbz = 'Y'
				ORDER by zsxm_dm,zspm_dm,lx
    </select>

<!--    根据减免性质代码查询减征比例-->
    <select id="queryFjsJzblByJmxzDm" resultType="java.lang.String">
       SELECT a.JMFD as jmbl FROM HX_ZGXT_CS_GY_SSJMXZJMFDEDSLGX a WHERE a.SSJMXZ_DM = #{jmxzDm}
    </select>

</mapper>